.span-top,.span-middle,.span-bottom{
  width:40px;
  height:4px;
  background-color:gray;
  cursor:pointer
}

#globe{
  animation: rotate 5s linear infinite 
}

@keyframes rotate {
  from{
    transform:rotate(0deg)
  }
  to{
    transform: rotate(360deg)
  }
}




